In [255]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler

import torch
import torch.nn as nn

In [256]:
torch.cuda.is_available()

True

In [257]:
df = pd.read_csv("../data/diabetes_prediction_dataset.csv")
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

## 이산 데이터의 Normalization값 구하기 (DataAnalysis.ipynb 참조)

In [258]:
df_gender = df[["gender", "diabetes"]]
df_gender_diabetes = df_gender[df_gender["diabetes"] == 1]

# 0인덱스는 female, 1인덱스는 male
gender_total = [df["gender"].value_counts().loc["Female"], df["gender"].value_counts().loc["Male"]]
gender_diabetes = [df_gender_diabetes["gender"].value_counts().loc["Female"], df_gender_diabetes["gender"].value_counts().loc["Male"]]
gender_isdiabetes = pd.DataFrame(data=[gender_total, gender_diabetes], index=["total", "diabetes"], columns=["Female", "Male"])
gender_isdiabetes

gender_isdiabetes_np = gender_isdiabetes.to_numpy()
gender_diabetes_ratio = gender_isdiabetes_np[1]/gender_isdiabetes_np[0]

print(gender_diabetes_ratio)

list1 = [gender_diabetes_ratio[0]/gender_diabetes_ratio.sum(), gender_diabetes_ratio[1]/gender_diabetes_ratio.sum()]
gender_diabetes_ratio_normalized = np.array(list1)
gender_diabetes_ratio_normalized

[0.07618869 0.09748974]

array([0.43867674, 0.56132326])

In [259]:
df_hyper_diabetes = df[["hypertension", "diabetes"]]
df_hyper_diabetes = df_hyper_diabetes[df_hyper_diabetes["diabetes"] == 1]

hyper_total = [df["hypertension"].value_counts().loc[0], df["hypertension"].value_counts().loc[1]]
hyper_diabetes = [df_hyper_diabetes["hypertension"].value_counts().loc[0], df_hyper_diabetes["hypertension"].value_counts().loc[1]]
hyper_isdiabetes = pd.DataFrame(data=[hyper_total, hyper_diabetes], index=["total", "diabetes"], columns=["NOhyper", "Yeshyper"])
hyper_isdiabetes

hyper_isdiabetes_np = hyper_isdiabetes.to_numpy()
hyper_diabetes_ratio = hyper_isdiabetes_np[1]/hyper_isdiabetes_np[0]

print(hyper_diabetes_ratio)

list1 = [hyper_diabetes_ratio[0]/hyper_diabetes_ratio.sum(), hyper_diabetes_ratio[1]/hyper_diabetes_ratio.sum()]
hyper_diabetes_ratio_normalized = np.array(list1)
hyper_diabetes_ratio_normalized

[0.06930768 0.27895792]

array([0.19900812, 0.80099188])

In [260]:
df_disease_diabetes = df[["heart_disease", "diabetes"]]
df_disease_diabetes = df_disease_diabetes[df_disease_diabetes["diabetes"] == 1]

disease_total = [df["heart_disease"].value_counts().loc[0], df["heart_disease"].value_counts().loc[1]]
disease_diabetes = [df_disease_diabetes["heart_disease"].value_counts().loc[0], df_disease_diabetes["heart_disease"].value_counts().loc[1]]
disease_isdiabetes = pd.DataFrame(data=[disease_total, disease_diabetes], index=["total", "diabetes"], columns=["NOdisease", "Yesdisease"])
disease_isdiabetes

disease_isdiabetes_np = disease_isdiabetes.to_numpy()
disease_diabetes_ratio = disease_isdiabetes_np[1]/disease_isdiabetes_np[0]

print(disease_diabetes_ratio)

list1 = [disease_diabetes_ratio[0]/disease_diabetes_ratio.sum(), disease_diabetes_ratio[1]/disease_diabetes_ratio.sum()]
disease_diabetes_ratio_normalized = np.array(list1)
disease_diabetes_ratio_normalized

[0.07529826 0.32141045]

array([0.18980742, 0.81019258])

In [261]:
df_smoking_diabetes = df[["smoking_history", "diabetes"]]
df_smoking_diabetes = df_smoking_diabetes[df_smoking_diabetes["diabetes"] == 1]
smoking_total = [
    df["smoking_history"].value_counts().loc["never"],
    df["smoking_history"].value_counts().loc["current"],
    df["smoking_history"].value_counts().loc["former"],
    df["smoking_history"].value_counts().loc["ever"],
    df["smoking_history"].value_counts().loc["not current"]
]
smoking_diabetes = [
    df_smoking_diabetes["smoking_history"].value_counts().loc["never"],
    df_smoking_diabetes["smoking_history"].value_counts().loc["current"],
    df_smoking_diabetes["smoking_history"].value_counts().loc["former"],
    df_smoking_diabetes["smoking_history"].value_counts().loc["ever"],
    df_smoking_diabetes["smoking_history"].value_counts().loc["not current"]
]
smoking_isdiabetes = pd.DataFrame(data=[smoking_total, smoking_diabetes], index=["total", "diabetes"], \
                                  columns=["never", "current", "former", "ever", "not current"])
smoking_isdiabetes

smoking_isdiabetes_np = smoking_isdiabetes.to_numpy()
smoking_diabetes_ratio = smoking_isdiabetes_np[1]/smoking_isdiabetes_np[0]

print(smoking_diabetes_ratio)

list1 = [smoking_diabetes_ratio[0]/smoking_diabetes_ratio.sum(),
         smoking_diabetes_ratio[1]/smoking_diabetes_ratio.sum(),
         smoking_diabetes_ratio[2]/smoking_diabetes_ratio.sum(),
         smoking_diabetes_ratio[3]/smoking_diabetes_ratio.sum(),
         smoking_diabetes_ratio[4]/smoking_diabetes_ratio.sum()
        ]
smoking_diabetes_ratio_normalized = np.array(list1)
smoking_diabetes_ratio_normalized

[0.09534122 0.10208917 0.17001711 0.11788212 0.10702652]

array([0.16095253, 0.17234424, 0.2870184 , 0.19900548, 0.18067935])

## 변수의 이름은 OOO_diabetes_ratio_normalized 이다

------------------

## bmi의 이상치 값들을 평균 + 5*std로 제한한다.
#### DOI 10.1109/TII.2017.2785963

In [262]:
bmi_mean = df["bmi"].mean()
bmi_std = df["bmi"].std()

print(df["bmi"].min())
print(df["bmi"].max())

for idx in range(df.size // 9):
    if df.loc[idx, "bmi"] > (bmi_mean + 5*bmi_std):
        df.loc[idx, "bmi"] = (bmi_mean + 5*bmi_std)

print(df["bmi"].min())
print(df["bmi"].max())

10.01
95.69
10.01
60.50468418324185

## age, bmi에 대해 먼저 MinMaxScaler를 적용한다.

In [263]:
scaler = MinMaxScaler()
columns_to_scale = ["age", "bmi"]
df[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,1.000000,0,1,never,0.300626,6.6,140,0
1,Female,0.674675,0,0,No Info,0.342808,6.6,80,0
2,Male,0.349349,0,0,never,0.342808,5.7,158,0
3,Female,0.449449,0,0,current,0.266167,5.0,155,0
4,Male,0.949950,1,1,current,0.200615,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,1.000000,0,0,No Info,0.342808,6.2,90,0
99996,Female,0.024024,0,0,No Info,0.145758,6.5,100,0
99997,Male,0.824825,0,0,former,0.352908,5.7,155,0
99998,Female,0.299299,0,0,never,0.503221,4.0,100,0
99999,Female,0.712212,0,0,current,0.245966,6.6,90,0

## HbA1c가 7 이상이거나 glucose가 210 이상이면 반드시 diabetes이니까 df에서 따로 빼 준다.

In [264]:
condition1 = df["HbA1c_level"] >= 7.0
condition2 = df["blood_glucose_level"] >= 210.0
filtered_df = df[condition1 | condition2]
must_diabetes = filtered_df.copy()
must_diabetes

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
38,Male,0.624625,1,0,current,0.342808,5.7,260,1
40,Male,0.912412,0,0,former,0.314885,9.0,160,1
53,Female,0.662162,0,0,former,0.342808,7.0,159,1
55,Male,0.624625,0,0,former,0.537680,9.0,159,1
59,Female,0.837337,0,0,never,1.000000,8.8,155,1
...,...,...,...,...,...,...,...,...,...
99935,Female,0.812312,1,1,never,0.466188,8.2,140,1
99938,Male,0.687187,0,1,former,0.404201,6.2,300,1
99957,Female,0.762262,0,0,No Info,0.484011,6.5,280,1
99962,Female,0.724725,1,0,never,0.560455,7.0,200,1
99979,Female,0.762262,0,0,current,0.398062,6.2,240,1

In [265]:
rows_to_remove = df[condition1 | condition2].index

# 선택된 행 제거
df = df.drop(rows_to_remove)
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,1.000000,0,1,never,0.300626,6.6,140,0
1,Female,0.674675,0,0,No Info,0.342808,6.6,80,0
2,Male,0.349349,0,0,never,0.342808,5.7,158,0
3,Female,0.449449,0,0,current,0.266167,5.0,155,0
4,Male,0.949950,1,1,current,0.200615,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,1.000000,0,0,No Info,0.342808,6.2,90,0
99996,Female,0.024024,0,0,No Info,0.145758,6.5,100,0
99997,Male,0.824825,0,0,former,0.352908,5.7,155,0
99998,Female,0.299299,0,0,never,0.503221,4.0,100,0
99999,Female,0.712212,0,0,current,0.245966,6.6,90,0

## MinMaxScaler를 HbA1c, glucose에 적용한다

In [266]:
scaler = MinMaxScaler()
columns_to_scale2 = ["HbA1c_level", "blood_glucose_level"]
df[columns_to_scale2] = scaler.fit_transform(df[columns_to_scale2])
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,1.000000,0,1,never,0.300626,0.939394,0.500000,0
1,Female,0.674675,0,0,No Info,0.342808,0.939394,0.000000,0
2,Male,0.349349,0,0,never,0.342808,0.666667,0.650000,0
3,Female,0.449449,0,0,current,0.266167,0.454545,0.625000,0
4,Male,0.949950,1,1,current,0.200615,0.393939,0.625000,0
...,...,...,...,...,...,...,...,...,...
99995,Female,1.000000,0,0,No Info,0.342808,0.818182,0.083333,0
99996,Female,0.024024,0,0,No Info,0.145758,0.909091,0.166667,0
99997,Male,0.824825,0,0,former,0.352908,0.666667,0.625000,0
99998,Female,0.299299,0,0,never,0.503221,0.151515,0.166667,0
99999,Female,0.712212,0,0,current,0.245966,0.939394,0.083333,0

In [267]:
must_diabetes

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
38,Male,0.624625,1,0,current,0.342808,5.7,260,1
40,Male,0.912412,0,0,former,0.314885,9.0,160,1
53,Female,0.662162,0,0,former,0.342808,7.0,159,1
55,Male,0.624625,0,0,former,0.537680,9.0,159,1
59,Female,0.837337,0,0,never,1.000000,8.8,155,1
...,...,...,...,...,...,...,...,...,...
99935,Female,0.812312,1,1,never,0.466188,8.2,140,1
99938,Male,0.687187,0,1,former,0.404201,6.2,300,1
99957,Female,0.762262,0,0,No Info,0.484011,6.5,280,1
99962,Female,0.724725,1,0,never,0.560455,7.0,200,1
99979,Female,0.762262,0,0,current,0.398062,6.2,240,1

## 분리해 두었던 데이터프레임을 다시 합친다.
## 반드시 diabetes인 데이터는 HbA1c 또는 glucose가 1이 넘어감을 기억하라!

In [268]:
df = pd.concat([df,must_diabetes])
df = df.sample(frac=1, random_state=42)
df.reset_index(inplace=True, drop=True)
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,0.837337,0,1,No Info,0.319638,0.757576,0.541667,0
1,Male,0.662162,0,0,former,0.342808,0.000000,0.500000,0
2,Male,0.099099,0,0,No Info,0.240619,0.666667,1.000000,0
3,Male,0.637137,0,0,never,0.320034,0.393939,0.650000,0
4,Male,0.837337,0,1,No Info,0.290526,0.000000,0.541667,0
...,...,...,...,...,...,...,...,...,...
99995,Female,0.612112,0,0,never,0.343601,0.787879,0.666667,0
99996,Female,0.862362,0,0,former,0.342808,0.939394,0.083333,0
99997,Female,0.737237,0,0,never,0.342808,0.909091,0.541667,0
99998,Female,1.000000,0,0,never,0.342808,0.818182,0.500000,0
99999,Female,0.812312,0,0,never,0.303794,0.393939,0.541667,0

## gender가 other인 것이랑 smoking_history가 No Info인 데이터는 제거한다.

In [269]:
rows_to_remove = df[condition1 | condition2].index

# 선택된 행 제거
df = df.drop(rows_to_remove)
df

remove_condition1 = df["gender"] == "Other"
remove_condition2 = df["smoking_history"] == "No Info"

indices_to_remove = df[remove_condition1 | remove_condition2].index

df = df.drop(indices_to_remove)
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
1,Male,0.662162,0,0,former,0.342808,0.000000,0.500000,0
3,Male,0.637137,0,0,never,0.320034,0.393939,0.650000,0
5,Female,0.336837,0,0,current,0.342808,0.696970,0.658333,0
6,Female,0.662162,0,0,never,0.650167,0.818182,0.383333,1
7,Female,0.411912,0,0,never,0.229727,0.909091,0.041667,0
...,...,...,...,...,...,...,...,...,...
99995,Female,0.612112,0,0,never,0.343601,0.787879,0.666667,0
99996,Female,0.862362,0,0,former,0.342808,0.939394,0.083333,0
99997,Female,0.737237,0,0,never,0.342808,0.909091,0.541667,0
99998,Female,1.000000,0,0,never,0.342808,0.818182,0.500000,0
99999,Female,0.812312,0,0,never,0.303794,0.393939,0.541667,0

## 전처리된 df를 저장한다

In [270]:
df.to_csv("../data/diabetes_prediction_dataset_preprocessed.csv", index=False)

# (작업 후 지우기)아래부터는 인공지능 모델 파일로 옮긴다

## 파이토치에서 사용할 수 있도록 numpy배열로 변환한다

In [271]:
df_np = df.to_numpy()

df_np

array([['Male', 0.6621621621621622, 0, ..., 0.0, 0.5000000000000001, 0],
       ['Male', 0.6371371371371372, 0, ..., 0.39393939393939403, 0.65, 0],
       ['Female', 0.33683683683683685, 0, ..., 0.696969696969697,
        0.6583333333333333, 0],
       ...,
       ['Female', 0.7372372372372372, 0, ..., 0.9090909090909092,
        0.5416666666666666, 0],
       ['Female', 0.9999999999999999, 0, ..., 0.8181818181818183,
        0.5000000000000001, 0],
       ['Female', 0.8123123123123123, 0, ..., 0.39393939393939403,
        0.5416666666666666, 0]], dtype=object)

## normalized된 값을 집어넣는다

In [272]:
for idx, data in enumerate(df_np):
    if data[0] == 'Female':
        df_np[idx][0] = gender_diabetes_ratio_normalized[0]
    elif data[0] == 'Male':
        df_np[idx][0] = gender_diabetes_ratio_normalized[1]
    else:
        df_np[idx][0] = np.nan
        
    if data[2] == 0:
        df_np[idx][2] = hyper_diabetes_ratio_normalized[0]
    elif data[2] == 1:
        df_np[idx][2] = hyper_diabetes_ratio_normalized[1]

    if data[3] == 0:
        df_np[idx][3] = disease_diabetes_ratio_normalized[0]
    elif data[3] == 1:
        df_np[idx][3] = disease_diabetes_ratio_normalized[1]

    if data[4] == "never":
        df_np[idx][4] = smoking_diabetes_ratio_normalized[0]
    elif data[4] == "current":
        df_np[idx][4] = smoking_diabetes_ratio_normalized[1]
    elif data[4] == "former":
        df_np[idx][4] = smoking_diabetes_ratio_normalized[2]
    elif data[4] == "ever":
        df_np[idx][4] = smoking_diabetes_ratio_normalized[3]
    elif data[4] == "not current":
        df_np[idx][4] = smoking_diabetes_ratio_normalized[4]
    else:
        df_np[idx][4] = np.nan

df_np[0:5]

array([[0.5613232596353498, 0.6621621621621622, 0.1990081153519949,
        0.18980742197744485, 0.2870183981823944, 0.34280836250372737,
        0.0, 0.5000000000000001, 0],
       [0.5613232596353498, 0.6371371371371372, 0.1990081153519949,
        0.18980742197744485, 0.1609525271674397, 0.3200336879295341,
        0.39393939393939403, 0.65, 0],
       [0.4386767403646503, 0.33683683683683685, 0.1990081153519949,
        0.18980742197744485, 0.17234423800839438, 0.34280836250372737,
        0.696969696969697, 0.6583333333333333, 0],
       [0.4386767403646503, 0.6621621621621622, 0.1990081153519949,
        0.18980742197744485, 0.1609525271674397, 0.6501674489311017,
        0.8181818181818183, 0.3833333333333334, 1],
       [0.4386767403646503, 0.4119119119119119, 0.1990081153519949,
        0.18980742197744485, 0.1609525271674397, 0.2297271522266457,
        0.9090909090909092, 0.04166666666666674, 0]], dtype=object)